
String.xcodeproj/xcuserdata/alexey.xcuserdatad/xcschemes/xcschememanagement.plist

String.xcodeproj/xcuserdata/alexey.xcuserdatad/xcschemes/String.xcscheme

String.xcodeproj/project.xcworkspace/xcuserdata/alexey.xcuserdatad/UserInterfaceState.xcuserstate

String.xcodeproj/project.xcworkspace/contents.xcworkspacedata

String.xcodeproj/project.pbxproj
